    @font-face {
        font-family: 'Nikosh';
        src: url('../fonts/Nikosh.eot');
        src: url('../fonts/Nikosh.eot?#iefix') format('embedded-opentype'),
             url('../fonts/Nikosh.woff2') format('woff2'),
             url('../fonts/Nikosh.woff') format('woff'),
             url('../fonts/Nikosh.ttf') format('truetype'),
             url('../fonts/Nikosh.svg#Nikosh') format('svg');
        font-weight: normal;
        font-style: normal;
    }
